<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SideMenuTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4BA63E31E72214C000FB02F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BA63F71E72214D000FB02F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BA64021E72214D000FB02F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
